body {
    margin: 0;
    font-family: "Inter";
}

.Nav {
    width: 100%;
    background-color: #222;
}

.Nav ul {
    list-style: none;
    margin: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around; 
}

.Nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.Nav a:hover{
    color: rgb(154, 89, 215);
}

